.vdot-box {
  max-width: 250px;
  min-height: 150px;
  position: relative;
  display: inline-block;
}

.vdot-text {
  font-weight: normal;
  position: absolute;
  width: 280px;
  text-align: center;
  left: 105%;
  top: 0;
  padding: 5px;
}

.vdot-box .vdot-text {
  visibility: hidden;
  background-color: var(--brandcolor1);
  color: white;
  border-radius: 10px;
}

.vdot-box:hover .vdot-text {
  visibility: visible;
}
