body {
  font-family: 'Raleway', sans-serif !important;
  font-size: 10px;
  color: black;
  font-weight: bold;
}

:root {
  --brandcolor1: #5B3292; /* Blue */
  --brandcolor2: #FC9962; /* Pink */
  --brandcolor3: #F0746C; /* Pink */
}

.box {
  border-radius: 10px;
  border-style: solid;
  border-color: var(--brandcolor1);
  background: white;
  padding: 20px;
  width: 150px;
  min-height: 170px;
  box-shadow: 3px 3px var(--brandcolor2),
              -3px -3px var(--brandcolor3);
}